/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
	line-height: 1.6;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.nav-heading {
	font-size: 2.5rem;
	color: #3498db;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

/* Button styles */
button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
	background-color: #45a049;
	transform: scale(1.05);
}

/* Array inputs styles */
.array-inputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	flex-direction: column;
}

.array-inputs p {
	margin-right: 10px;
}

/* Algos button styles */
.algos {
	display: flex;
}

.algos button {
	margin-right: 10px;
}

/* Complexity container styles */
.Complexity_Containers {
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.Pair_Definitions {
	text-align: center;
}

.Sub_Heading {
	font-weight: bold;
}

/* Array container styles */
#array_container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 300px;
	overflow: hidden;
}

.bar {
	width: 20px;
	margin: 0 1px;
	background-color: #3498db;
	border-radius: 5px 5px 0 0;
}

/* Info container styles */
#Info_Cont1,
#Info_Cont2 {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 20px auto;
}

/* Footer styles */
footer {
	text-align: center;
	padding: 10px 0;
	background-color: #333;
	color: #fff;
}

/* Responsive design */
@media screen and (max-width: 768px) {
	.algos {
		flex-direction: column;
		align-items: center;
	}

	.algos button {
		margin: 5px 0;
	}
}
